.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.input {
    width: 380px;
    position: relative;
}

.input input {
    width: 100%;
    padding: 20px 50px 10px 10px;
    border: 1px solid #494949;
    font-size: 1.1rem;
    outline: none;
    background-color: #F7F6F4;
}

.input span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    padding: 10px;
    color: rgba(39, 40, 41, 0.6);
    pointer-events: none;
    transition: all 0.4s ease;
}

.input button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    padding: 10px;
    border: none;
    background: none;
    font-size: 2rem;
    color: #494949;
    cursor: pointer;
    transition: all 0.4s ease;
}

.input input:focus, 
.input input:valid {
    outline: 2px solid #494949;
}

.input input:focus ~ span,
.input input:valid ~ span,
.input input:not(:placeholder-shown) ~ span {
    transform: translateY(-33px);
    font-size: 0.8rem;
    color: #494949;
}

.input input:focus ~ button,
.input input:valid ~ button {
    color: #494949;
}